# <center> Structured Query Language (SQL) </center>

### SQL es un lenguaje diseñado para administrar y recuperar datos en bases de datos relacionales

### ¿Qué es una base de datos relacional?

### Una base de datos cuyos usuarios la perciben como un conjunto de tablas (y nada más que tablas).

### El fundamento de las BD relacionales es un conjunto de ideas teóricas conocidas como <i>modelo relacional<i>.
<br>
<center>
<img src="02_sql/Codd.png" width="60%">
</center>

### DB deportistas

<br>
<center>
<img src="02_sql/tablas v03.png" width="60%">
</center>

### Lenguaje de definición de datos (DDL)
* CREATE
* ALTER
* DROP
* TRUNCATE

### CREATE TABLE
```SQL
CREATE TABLE jugadores (
    id_jugador VARCHAR PRIMARY KEY,
    nombre     VARCHAR,
    apellido   VARCHAR,
    id_dep     VARCHAR,
    peso       NUMERIC,
    altura     NUMERIC
);
```

### Lenguaje de manipulación de datos (DML)
* SELECT
* INSERT
* UPDATE
* DELETE

### SELECT - forma básica

```SQL
SELECT [ALL | DISTINCT ]

             <nombre_campo> [{,<nombre_campo>}]

FROM <nombre_tabla>|<nombre_vista> 

        [{,<nombre_tabla>|<nombre_vista>}]

[WHERE <condición> [{ AND|OR <condición>}]]

[GROUP BY <nombre_campo> [{,<nombre_campo >}]]

[HAVING <condición>[{ AND|OR <condición>}]]

[ORDER BY <nombre_campo>|<indice_campo> [ASC | DESC]

                [{,<nombre_campo>|<indice_campo> [ASC | DESC ]}]]
```

In [1]:
import sqlite3
conn = sqlite3.connect('02_sql/deportistas.db')
conn.row_factory = sqlite3.Row
dbcur = conn.cursor()

In [2]:
q = """SELECT *
       FROM jugadores
       """
for row in dbcur.execute(q):
    print(row["nombre"], " - ", row[2], " - ", row[3], " - ", row[4], " - ", row[5])

Juan  -  Musso  -  1  -  93  -  1.92
Nicolás  -  Otamendi  -  1  -  81  -  1.81
Juan  -  Foyth  -  1  -  80  -  1.87
Nicolás  -  Tagliafico  -  1  -  70  -  1.72
Renzo  -  Saravia  -  1  -  74  -  1.76
Leandro  -  Paredes  -  1  -  79  -  1.8
German  -  Pezzella  -  1  -  82  -  1.88
Alexis  -  Mac Allister  -  1  -  72  -  1.74
Marcos  -  Acuña  -  1  -  77  -  1.72
Sergio  -  Agüero  -  1  -  70  -  1.73
Lionel  -  Messi  -  1  -  72  -  1.7
Lucas  -  Ocampos  -  1  -  84  -  1.88
Agustín  -  Marchesín  -  1  -  85  -  1.88
Lucas  -  Alario  -  1  -  78  -  1.85
Walter  -  Kannemann  -  1  -  77  -  1.85
Rodrigo  -  De Paul  -  1  -  68  -  1.8
Nehuén  -  Pérez  -  1  -  75  -  1.84
Nicolás  -  Domínguez  -  1  -  70  -  1.79
Guido  -  Rodríguez  -  1  -  80  -  1.85
Giovani  -  Lo Celso  -  1  -  68  -  1.77
Paulo  -  Dybala  -  1  -  73  -  1.77
Lautaro  -  Martínez  -  1  -  72  -  1.75
Esteban  -  Andrada  -  1  -  83  -  1.94
Emiliano  -  Martínez  -  1  -  90  -  1.96
Exequiel  -  Palacios  -  1  -  70  -  1.77
Facundo  -  Campazzo  -  2  -  85  -  1.83
Nicolás  -  Laprovittola  -  2  -  85  -  1.91
Luca  -  Vildoza  -  2  -  86  -  1.91
Nicolás  -  Brussino  -  2  -  98  -  2.01
Lucio  -  Redivo  -  2  -  75  -  1.83
Gabriel  -  Deck  -  2  -  105  -  1.98
Máximo  -  Fjellerup  -  2  -  91  -  1.98
Patricio  -  Garino  -  2  -  92  -  2.03
Agustín  -  Caffaro  -  2  -  104  -  2.11
Luis  -  Scola  -  2  -  111  -  2.06
Marcos  -  Delía  -  2  -  100  -  2.11
Tayavek  -  Gallizzi  -  2  -  102  -  2.05
Agustín  -  Creevy  -  3  -  106  -  1.82
Juan  -  Figallo  -  3  -  115  -  1.9
Santiago  -  Medrano  -  3  -  115  -  1.85
Julián  -  Montoya  -  3  -  110  -  1.83
Enrique  -  Pieretto  -  3  -  122  -  1.89
Santiago  -  Socino  -  3  -  110  -  1.86
Nahuel  -  Tetaz Chaparro  -  3  -  121  -  1.88
Mayco  -  Vivas  -  3  -  120  -  1.87
Matías  -  Alemanno  -  3  -  117  -  1.99
Tomás  -  Lavanini  -  3  -  118  -  2.01
Guido  -  Petti Pagadizábal  -  3  -  104  -  1.93
Rodrigo  -  Bruni  -  3  -  110  -  1.85
Marcos  -  Kremer  -  3  -  110  -  1.95
Juan Manuel  -  Leguizamón  -  3  -  110  -  1.9
Tomás  -  Lezana  -  3  -  95  -  1.88
Pablo  -  Matera Capitán  -  3  -  110  -  1.93
Javier  -  Ortega Desio  -  3  -  104  -  1.93
Tomás  -  Cubelli  -  3  -  81  -  1.77
Felipe  -  Ezcurra  -  3  -  85  -  1.79
Jerónimo  -  de la Fuente  -  3  -  95  -  1.84
Juan  -  Cruz Mallia  -  3  -  88  -  1.82
Lucas  -  Mensa  -  3  -  94  -  1.83
Matías  -  Orlando  -  3  -  94  -  1.83
Nicolás  -  Sánchez  -  3  -  83  -  1.77
Benjamín  -  Urdapilleta  -  3  -  80  -  1.78
Emiliano  -  Boffelli  -  3  -  94  -  1.93
Santiago  -  Carreras  -  3  -  82  -  1.81
Bautista  -  Delguy  -  3  -  85  -  1.81
Matías  -  Moroni  -  3  -  92  -  1.85
Ramiro  -  Moyano  -  3  -  83  -  1.8
Joaquín  -  Tuculet  -  3  -  91  -  1.81

### Con Pandas

In [3]:
import pandas as pd
from IPython.display import display, HTML
q = """SELECT *
       FROM jugadores
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Alias y selección de atributos

In [4]:
q = """SELECT nombre as Nombre, J.apellido as Apellido
       FROM jugadores as J
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Cláusula WHERE

In [5]:
q = """SELECT *
       FROM jugadores
       WHERE peso between 100 and 105 OR nombre LIKE 'Li%'
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Cláusula ORDER BY

In [6]:
q = """SELECT *
       FROM jugadores
       ORDER BY altura ASC, peso DESC
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Cláusula GROUP BY

In [7]:
q = """SELECT id_dep, peso
       FROM jugadores
       GROUP BY id_dep, peso
       ORDER BY id_dep, peso
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### SELECT DISTINCT

In [8]:
q = """SELECT DISTINCT id_dep, peso
       FROM jugadores
       ORDER BY id_dep, peso
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Cláusula GROUP BY (SUM, COUNT, AVG, ...)

In [9]:
q = """SELECT id_dep, 
              COUNT(nombre) as cantNom,  
              COUNT(DISTINCT nombre) as cantDistNom, 
              AVG(peso) as avgPeso, 
              SUM(altura) as sumAltura, 
              MAX(peso) as maxPeso, 
              count(*) as cantTotal
       FROM jugadores
       GROUP BY id_dep
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Cláusula HAVING

In [10]:
q = """SELECT id_dep, 
              COUNT(nombre) as cantNom,  
              COUNT(DISTINCT nombre) as cantDistNom, 
              AVG(peso) as avgPeso, 
              SUM(altura) as sumAltura, 
              MAX(peso) as maxPeso, 
              count(*) as cantTotal
       FROM jugadores
       GROUP BY id_dep
       HAVING sumAltura > 30
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Cláusula HAVING

In [11]:
q = """SELECT id_dep, 
              COUNT(nombre) as cantNom,  
              COUNT(DISTINCT nombre) as cantDistNom, 
              AVG(peso) as avgPeso, 
              SUM(altura) as sumAltura, 
              MAX(peso) as maxPeso, 
              count(*) as cantTotal
       FROM jugadores
       GROUP BY id_dep
       HAVING sumAltura > 30 AND id_dep = "1"
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Consultas multitabla

In [12]:
q = """SELECT nombre, J.apellido, D.nom_dep
       FROM jugadores J, deportes D
       WHERE J.id_dep = D.id_dep
       ORDER by J.nombre
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Consultas multitabla

Cantidad de jugadores y altura media por tipo de piso

In [13]:
q = """SELECT P.nom_piso as piso, 
              COUNT(*) as cant_jugadores, 
              AVG(altura) as avg_altura
       FROM jugadores J, deportes D, pisos P
       WHERE J.id_dep = D.id_dep
       AND   D.id_piso = P.id_piso
       GROUP BY P.nom_piso """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Consultas multitabla
Pares de jugadores con el mismo nombre (tablas repetidas en el FROM)

In [14]:
q = """SELECT J1.nombre as nombre, J1.apellido as apellidoA, J2.apellido as apellidoB
       FROM jugadores as J1, jugadores as J2
       WHERE J1.nombre = J2.nombre
       AND   J1.id_jugador < J2.id_jugador
       ORDER BY J1.nombre, J1.apellido, J2.apellido
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Subconsultas

Peso medio y altura media por deportes que se juegan en el césped

In [15]:
q = """SELECT nom_dep, AVG(peso), AVG(altura)
       FROM jugadores J, deportes D
       WHERE  J.id_dep = D.id_dep
       AND    D.id_piso IN (SELECT P.id_piso FROM pisos P WHERE nom_piso = "césped") 
       GROUP BY nom_dep
       """
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Subconsultas en el FROM

Jugadores con peso inferior al peso medio para su deporte

In [16]:
# Primero calculamos el peso medio por deporte

q = """SELECT id_dep, AVG(peso) as pesoMedio
       FROM jugadores
       GROUP BY id_dep"""
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### Subconsultas en el FROM

Jugadores con peso inferior al peso medio para su deporte

In [17]:
# Después usamos la consulta anterior en el FROM

q = """ SELECT J.nombre, J.apellido, D.nom_dep, C1.pesoMedio-J.peso as pesoFaltante
        FROM jugadores J, deportes D,
             (SELECT id_dep, AVG(peso) as pesoMedio
              FROM jugadores
              GROUP BY id_dep) as C1
        WHERE J.peso < C1.pesoMedio
        AND J.id_dep = C1.id_dep
        AND J.id_dep = D.id_dep
        ORDER BY C1.pesoMedio-J.peso DESC, J.nombre, J.apellido"""
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### INSERT - Forma básica

```SQL
INSERT INTO <nombre_tabla> (<nombre_campo_A>, [<nombre_campo_B>, ... ])
VALUES (<valor_A>, [<valor_B>, ...])
```
O también:
```SQL
INSERT INTO <nombre_tabla> 
VALUES (<valor_A>, <valor_B>, ...)
```
O también:
```SQL
INSERT INTO <nombre_tabla> 
SELECT...
```

### INSERT - Ejemplo

In [18]:
q = """INSERT INTO jugadores (id_jugador, nombre, apellido, id_dep, peso, altura)
       VALUES (?, 'Marcelo', 'Milanesio', ?, 90, ?)
       """
params = ['999', '2', 2]
dbcur.execute(q, params)
conn.commit()

In [19]:
q = """ SELECT *
        FROM jugadores
        ORDER BY id_jugador DESC"""
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### UPDATE - Forma básica

```SQL
UPDATE <nombre_tabla> 
SET <nombre_campo_A> = <valor_A>,
    <nombre_campo_B> = <valor_B>, ...
WHERE <nombre_campo_C> = <valor_C>
```

### UPDATE - Ejemplo

In [20]:
q = """UPDATE jugadores
       SET altura = ?
       WHERE id_jugador = ?
       """
params = [2.1, '999']
dbcur.execute(q, params)
conn.commit()

In [21]:
q = """ SELECT *
        FROM jugadores
        ORDER BY id_jugador DESC"""
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### DELETE - Forma básica

```SQL
DELETE 
FROM <nombre_tabla> 
WHERE <nombre_campo_C> = <valor_C>
```

### DELETE - Ejemplo

In [22]:
q = """DELETE
       FROM jugadores
       WHERE id_jugador = ?
       """
params = ['999']
dbcur.execute(q, params)
conn.commit()

In [23]:
q = """ SELECT *
        FROM jugadores
        ORDER BY id_jugador DESC"""
df = pd.read_sql_query(q, conn)
display(HTML(df.to_html(index=False)))

### SQL injection

<br>
<center>
<img src="02_sql/injection_01.jpg" width="60%">
</center>

<br>
<center>
<img src="02_sql/injection_02.jpg" width="60%">
</center>

### <center>FIN<center/>